*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background: #8a51fc;
}

.imagem-header{
    width: 300px;
    display: block;
    margin: 0 auto; /*pra usar precisa display block*/
    
   
    
}

.div-mae{
    width: 375px;
    border-radius: 20px;
    background: #f4f4f4;
    margin:0 auto 40px;
    padding: 44px 24px 23px 24px;
}

label{
    color: #777777;
    font-weight: 400;
    font-size: 14px;
    
}

select, input {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    cursor: pointer;
    appearance: none; /*tira a setinha de escolha*/
    font-size: 16px;
    font-weight: 700;
   
}

button{
    background: #772fd3;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    opacity: .8;
}

button:active{
    opacity: .6;
}

.div-filho{
    border: 1px solid #772fd3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;

    /*display*/
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:14px;
}

.div-box{
display: flex;
flex-direction: column;
align-items: center;
}

.currency{
color: #777777;
font-size: 14px;

}

.currency-value, .currency-value-to-convert{
color: #555555;
font-weight: 700;
font-size: 20px;

}

#logo-euro{
    display: none;
}

@media screen and (max-width:600px){
    
body{
    width: 50%;
    height: 50%;
}

.imagem-header{
    padding-left: 89px;
}
}